@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;


<div class="jumbotron">
  <h3>Stylist Details</h3>
  <hr>
</div>

<h4>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h4>

  <li>Stylist Level: @Html.DisplayFor(model => model.StylistLevel)</li>

  @foreach (Client client in Model.Clients)
  {
  <ol>
    <li>@Html.ActionLink(client.Name, "Details", "Clients", new { id = client.ClientId })</li>
  </ol>
  }

<p class="btn btn-light">@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</p>
<p class="btn btn-light">@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>
<p class="btn btn-light">@Html.ActionLink("Back to List", "Index")</p>