@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models;

<h3>Stylist Details</h3>
<hr>

<h4>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h4>

<p class="btn btn-dark">@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</p>
<p class="btn btn-dark">@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>
<p class="btn btn-dark">@Html.ActionLink("Back to List", "Index")</p>