@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="jumbotron">
  <h3>Edit Stylist</h3>
  <hr>
</div>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.Client)
    @Html.DropDownList("ClientId", null, new { @class = "form-control" })
  </div>
  <br>
  <input type="submit" value="Save" class="btn btn-light" />
}

<p class="btn btn-light">@Html.ActionLink("Back to List", "Index")</p>
