@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<div class="jumbotron">
  <h3>Add a New Client</h3>
  <hr>
</div>

@using (Html.BeginForm())
{

  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @required = "required" })

  <div class="form-group">
    @Html.LabelFor(model => model.Service)
    @Html.DropDownList("Service", new List<SelectListItem> {
      new SelectListItem { Text = "Highlight", Value = "Highlight"},
      new SelectListItem { Text = "Cut", Value = "Cut"},
      new SelectListItem { Text = "Color", Value = "Color"},
      new SelectListItem { Text = "Brazillian Blowout", Value = "Brazillian Blowout"},
      new SelectListItem { Text = "Special Occasion", Value = "Special Occasion"}, 
      }, new { @class = "form-control"})
  </div>
  
  <input type="submit" value="Add New Client" class="btn btn-light" />
}

<p class="btn btn-light">@Html.ActionLink("Show All Clients", "Index")</p>