@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h3>Edit this Client: @Html.DisplayFor(model => model.Name)</h3>
<hr>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name, new { @class = "form-control", @required = "required" })

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId", null, new { @class = "form-control" })

  <input type="submit" value="Save" class="btn btn-dark" />
}

<br>
<p class="btn btn-dark">@Html.ActionLink("Back to List", "Index")</p>