@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<div class="jumbotron">
  <h3>Edit this Client: @Html.DisplayFor(model => model.Name)</h3>
  <hr>
</div>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name, new { @class = "form-control", @required = "required" })

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId", null, new { @class = "form-control" })

  <input type="submit" value="Save" class="btn btn-light" />
}

<p class="btn btn-light">@Html.ActionLink("Back to List", "Index")</p>